@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --bg-color1: #121212;
  --bg-color2: #141414;
  --bg-color3: #2a2a2a;
  --bg-color4: #1D1D1D;
  --bg-color5: #434343;
  --color1: #FFFFFF;
  --color2: #838383;
  --color3: #a0a0a0;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
  background: var(--bg-color1);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  user-select: none;
}

body::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color5);
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}


@layer components{
    /* Sidebar */
    .sidebarWrapper {
      @apply relative p-0   pb-8 w-52 text-xs;
    }
  
    .sidebar {
      @apply py-4 px-3  fixed whitespace-nowrap h-screen w-52 border-r bg-gray-800 z-50;
    }
  
    @media only screen and (max-width: 968px) {
      .sidebar-wrapper {
        @apply hidden;
      }
    }
  
    .sidebar .icon,
    svg {
      @apply w-5 h-5 filter invert-[70%];
    }
  
    .iconStore {
      @apply bg-center bg-no-repeat bg-cover;
      background-image: url(https://www.svgrepo.com/show/105540/label.svg);
    }
  
  
    .sidebar ul {
      @apply list-none p-0;
    }
  
    .brand {
      @apply flex items-center mt-1 mb-12;
    }
  
    .brand a {
      @apply text-gray-600  ml-4;
      text-decoration: none;
    }
  
    .sidebar li {
      @apply mb-8 relative block;
    }
  
    .sidebar li:hover a {
      @apply text-white;
    }
  
    .sidebar li:hover :is(span, svg, img) {
      @apply filter invert-[100%];
    }
  
    .sidebar .current {
      @apply text-white;
    }
  
    .sidebar .current .icon {
      @apply filter invert-[100%];
    }
  
    .sidebar li a {
      @apply flex items-center text-gray-600  transition duration-200;
    }
  
    .sidebar li :is(img, svg, span) {
      @apply mr-10 ml-2;
    }
  
    .sidebar .profile::after {
      @apply w-2 h-2 bg-yellow-500 rounded-full absolute top-0 left-6;
      content: '';
    }
  
    .sidebar nav {
      @apply flex flex-col justify-between h-[88%];
    }
  
    /* Side Content */
    .sidecontent {
      @apply relative p-8 min-h-screen;
    }
  
    .shadow {
      @apply fixed bg-black bg-opacity-50 w-full h-full top-0 left-0 z-10 cursor-pointer;
      content: '';
    }
  
    @media only screen and (max-width: 968px) {
      .sidecontent {
        @apply mx-auto;
      }
    }

    .newsList{
      @apply flex flex-col justify-between py-3 border-b-2;
    }

    .newsList .card{
      @apply flex flex-col text-white mr-4 py-4;
      text-decoration: none;
      line-height: 20px;
    }
    .newsList .card .timeline{
      @apply mt-4 mb-0 text-gray-600 font-bold text-xs tracking-wide;
    }

    .newsList img{
      @apply h-full w-full object-cover object-center rounded transition duration-300; 
    }

    .newsList .decription{
      @apply mb-4;
    }

    .newsList .card:hover img {
      @apply filter brightness-150;
    }

    .newsList .readMore {
      @apply mt-2 border-b border-gray-400 min-w-min transition duration-300;
    }


    @media only screen and (max-width: 1100px) {
      .newsList {
        @apply flex-col;
      }
    
      .newsList .card {
        @apply w-full mx-auto my-4;
      }
    }


      /* NewsFeed */
  .newsFeed {
    @apply flex;
  }

  .newsFeed ul {
    @apply w-full m-0 p-0 list-none;
  }

  .newsFeed ul a {
    @apply flex px-4 py-6 items-center border-b border-gray-300 text-white no-underline;
  }


  .newsFeed .description {
    @apply flex flex-col ml-8
  }

  .newsFeed time {
    @apply text-gray-500 text-xs font-bold tracking-wide mb-2;
  }

  .newsFeed .readMore {
    @apply p-0 mt-auto border-b border-gray-400 w-max transition duration-300;
  }

  .newsFeed img {
    @apply w-20 h-auto rounded transition duration-400;
  }

  .newsFeed li:hover img {
    @apply filter brightness-130;
  }

  .newsFeed li:hover .readMore {
    @apply border-white;
  }

  .toggleMenu {
    @apply bg-gray-900 rounded-[50] px-2 py-[0.8] my-1.5 mx-auto whitespace-nowrap;
  }
  
  .friendList {
    @apply fixed bg-gray-800 border-gray-400 border-2 rounded-lg w-[25vw] z-50 right-2 top-4;
  }

  .friendList .wrap{
    @apply relative overflow-hidden h-full w-full grid grid-rows-[8fr-1fr];
  }

  .upper {
    @apply relative p-1.5;
  }

  .friendlist input[type="radio"] {
    @apply fixed opacity-0 w-0;
  }

  .friendlist label {
    @apply p-2.5 cursor-pointer text-gray-400 transition duration-200;
  }

  .friendlist label:hover {
    @apply text-gray-700;
  }

  .friendlist input[type="radio"]:checked+label {
    @apply bg-gray-600 rounded-[15] text-white;
  }


  .connect {
    @apply relative h-full bg-gray-800 mx-2 text-left border-gray-400 border-t font-[12] w-full left-0 bottom-2;
    padding: .5em 3em 0;
  }

  .connect p {
    @apply w-[90];
  }

  .connect a {
    @apply text-white;
  }

  .search {
    @apply flex m-0 mb-1;
  }

  .SearchInput {
    @apply border-gray-400 border font-bold text-gray-500 rounded text-[14] p-[0.8] w-full bg-transparent outline-none;
  }

  .SearchInput:focus,
  .SearchInput:focus+.searchBtn {
    @apply border-white transition duration-300;
  }

  .SearchInput::placeholder {
    @apply text-gray-400;
  }

  .searchBtn {
    @apply absolute right-3 self-center h-6 w-6 bg-no-repeat bg-center;
  }

  .icons {
    @apply relative text-right mt-[1em] h-[1em];
  }

  .icon {
    @apply cursor-pointer ml-[1em] inline-block filter invert-[100%] h-16 w-16 bg-no-repeat bg-center;
  }

  .iconBell {
    animation: bellRing 1s;
  }

  /* Friendlist Users */

  .userlistwrapper {
    @apply relative float-left w-full pr-12;
  }

  .userlist {
    @apply relative overflow-y-scroll;
  }

  .userlist .you {
    @apply bg-gray-400 rounded text-xs font-normal py-1 px-2;
  }

  .userlist p {
    @apply text-gray-400 font-bold;
  }

  .status {
    @apply font-normal block text-gray-400;
  }

  .userlist ul {
    @apply m-0 p-0 list-none font-bold;
  }

  .userlist li {
    @apply m-8 mx-auto mt-8 ml-14 cursor-pointer;
  }

  /* Store Navbar */
  .storeNavbar {
    @apply w-full flex justify-between text-gray-500 mb-4;
  }

  .storeNavbar ul {
    @apply list-none m-0 p-0;
  }

  .storeNavbar li {
    @apply inline-block mx-4;
  }

  .primaryNav li:nth-child(1) {
    @apply text-white;
  }

  .storeNavbar input[type="search"] {
    @apply text-white bg-gray-800 border-none rounded-md w-48 px-3 py-2;
  }

  /* Store slider */
  .sliderWrapper {
    @apply flex flex-row overflow-hidden content-start;
    height: fit-content;
    margin-bottom: 3em;
  }

  .featured {
    @apply relative flex items-end justify-start;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px 0 0 4px;
    transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .featured .buttons {
    @apply flex flex-row text-center gap-1;
  }

  .featured .btn {
    @apply bg-blue-500 text-white;
    text-decoration: none;
    width: fit-content;
  }

  .featured .btn:hover {
    @apply filter brightness-110;
  }

  .featured .btnDownload {
    @apply px-4 py-2 rounded-l-md;
  }

  .featured .btnWishlist {
    @apply py-3 rounded-r-md w-10 h-auto;
  }

  .featured .purchase {
    @apply px-2 py-1 border-r-2 border-blue-300 mr-2;
  }

  .featured .itemText {
    @apply box-border overflow-hidden px-12 pb-12 w-2/5 font-bold relative;
    z-index: 2;
  }

  .featured .itemText::before {
    @apply absolute bg-black bg-opacity-30 w-full h-full;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
  }

  .featured .btn {
    @apply mt-8;
  }

  .gamelist {
    @apply flex flex-col list-none p-0 m-0 w-20 bg-gray-800 rounded-r-md;
  }

  .gamelist .game:hover {
    @apply bg-white bg-opacity-10;
    cursor: pointer;
  }

  .gamelist .game {
    @apply flex gap-1 p-4 overflow-hidden;
    line-height: 20px;
    position: relative;
  }

  .gamelist .current,
  .gamelist .current:hover {
    @apply bg-blue-500 bg-opacity-30;
  }

  .gamelist .current::after {
    @apply absolute w-full bg-white;
    content: '';
    height: 2px;
    left: 0;
    bottom: 0;
    animation: sliderAnimate 9s;
  }

  .gamelist .current::before {
    @apply absolute w-full bg-opacity-40;
    content: '';
    height: 2px;
    left: 0;
    bottom: 0;
  }

  
}