@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --bg-color1: #121212;
  --bg-color2: #141414;
  --bg-color3: #2a2a2a;
  --bg-color4: #1D1D1D;
  --bg-color5: #434343;
  --color1: #FFFFFF;
  --color2: #838383;
  --color3: #a0a0a0;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
  background: var(--bg-color1);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  user-select: none;
}

body::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color5);
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}


@layer components{
    /* Sidebar */
    .sidebarWrapper {
      @apply relative p-0   pb-8 w-52 text-xs;
    }
  
    .sidebar {
      @apply py-4 px-3  fixed whitespace-nowrap h-screen w-52 border-r bg-gray-800 z-50;
    }
  
    @media only screen and (max-width: 968px) {
      .sidebar-wrapper {
        @apply hidden;
      }
    }
  
    .sidebar .icon,
    svg {
      @apply w-5 h-5 filter invert-[70%];
    }
  
    .iconStore {
      @apply bg-center bg-no-repeat bg-cover;
      background-image: url(https://www.svgrepo.com/show/105540/label.svg);
    }
  
  
    .sidebar ul {
      @apply list-none p-0;
    }
  
    .brand {
      @apply flex items-center mt-1 mb-12;
    }
  
    .brand a {
      @apply text-gray-600  ml-4;
      text-decoration: none;
    }
  
    .sidebar li {
      @apply mb-8 relative block;
    }
  
    .sidebar li:hover a {
      @apply text-white;
    }
  
    .sidebar li:hover :is(span, svg, img) {
      @apply filter invert-[100%];
    }
  
    .sidebar .current {
      @apply text-white;
    }
  
    .sidebar .current .icon {
      @apply filter invert-[100%];
    }
  
    .sidebar li a {
      @apply flex items-center text-gray-600  transition duration-200;
    }
  
    .sidebar li :is(img, svg, span) {
      @apply mr-10 ml-2;
    }
  
    .sidebar .profile::after {
      @apply w-2 h-2 bg-yellow-500 rounded-full absolute top-0 left-6;
      content: '';
    }
  
    .sidebar nav {
      @apply flex flex-col justify-between h-[88%];
    }
  
    /* Side Content */
    .sidecontent {
      @apply relative p-8 min-h-screen;
    }
  
    .shadow {
      @apply fixed bg-black bg-opacity-50 w-full h-full top-0 left-0 z-10 cursor-pointer;
      content: '';
    }
  
    @media only screen and (max-width: 968px) {
      .sidecontent {
        @apply mx-auto;
      }
    }
}